  body {background-color: powderblue;}
    h1   {color: blue;}
    p    {color: red;}
    .responsive {
    width: 100%;
    height: auto;}
    h2   {font-weight: bold;
          text-align: center;}
    .form-inline {margin: auto;
                  width: 50%;
                  padding: 10px;}